/* Skills Section */
.skills-section {
    margin-top: 30px;
  }
  
  .skill-category h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }
  
  .skills {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .skill-badge {
    background: rgba(29, 78, 216, 0.2);
    color: rgb(109 191 237 / 90%);
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    max-height: 2rem;
    transition: background 0.3s ease-in-out;
  }
  
  .skill-badge:hover {
    background: rgba(29, 78, 216, 0.5);
  }

  