.experience-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  
  .experience-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
  }
  
  .experience-card.inactive {
    opacity: 0.5;
    filter: grayscale(40%);
    transition: all 0.3s ease-in-out;
  }
  
  .experience-card.active {
    opacity: 1;
    filter: grayscale(0%);
    border: 2px solid rgba(29, 78, 216, 0.7);
    box-shadow: 0px 4px 20px rgba(29, 78, 216, 0.3);
    transform: scale(1.02);
  }
  
  .date {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .role {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
  }
  
  .company {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .description {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 10px;
  }
  
  .skills {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  .skill-badge {
    background: rgba(29, 78, 216, 0.2);
    color: rgb(109 191 237 / 90%);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.85rem;
    max-height: 2rem;
    transition: background 0.3s ease-in-out;
  }
  
  .skill-badge:hover {
    background: rgba(29, 78, 216, 0.5);
  }
  